.ant-row {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    padding-top: .5em;
}

.forms-button{
    display: flex;
    margin-left: 16em;
    margin-top: 20%;
}

.forms-button:hover{
    color: #f683b9 !important;
    border-color: #f683b9 !important;
}

