.ant-popover-inner {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.popover-position {
    margin-top: 30px;
    margin-bottom: 30px;
    /*margin-left: 50px;*/
    /* align-content: space-between; */
    margin-right: 15px;
}

.demo{
    margin-left: 117px;
}

.ant-tabs-tab:hover {
    color: #D64488;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #D64488 !important;
    text-shadow: 0 0 0.25px currentcolor;
}

.ant-card-cover > * {
    display: block;
    width: 50%;
    margin-left: 4em;
    margin-top: 1em;
}

.ant-space-align-baseline{
    display: flex;
    margin-bottom: 8px;
    gap: 8px;
    margin-top: 20px;
}
