.ant-popover-inner {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.popover-position {
    margin-top: 30px;
    margin-bottom: 30px;
    /*margin-left: 50px;*/
    /* align-content: space-between; */
    margin-right: 15px;
}

.demo{
    margin-left: 117px;
}

