@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');


body{
    max-width: 100%;
    max-height: 100%;
}



.css-nzinn5-MuiContainer-root {
    max-width: 100vh !important;
    max-height: 100vh !important;
    background-color: azure !important;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2em;
}

.css-ag7rrr-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    color: black !important;
    cursor: pointer !important;
}

