.most-used-functions{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 1em;
    justify-content:center;
    display: inline-block;
    overflow-x: scroll;
}

.imgp{
    margin-top: 1em;
}

.upload-button{
    margin-top: 2em;
}

html {
    --antd-wave-shadow-color: #D64488;
    --scroll-bar: 0;
}

p{
    text-align: center;
}